<div class='appstop'>
  <p class='appstitle'>GOPRO APPS</p>
  <p class='appsparag'>Capture and create awesome videos. Our apps make it easy to tell your story</p>
  <div class='appstopimage'></div>
  <div class='row animated bounce'>
    <img src="https://shop.gopro.com/on/demandware.static/-/Library-Sites-sharedGoProLibrary/default/dwe5a84e87/images/software-and-app/down-arrows.png">
  </div>
</div>

<div class='appssecondsection'>
  <div class='firstappsleft'>
    <div class='picturecontainerapps'>
      <div class='pictureapps1'></div>
    </div>
  </div>
  <div class='firstappsright'>
    <div class='appssectionicon'></div>
    <p class='appssectiontitle'>Capture</p>
    <p class='appssectionparag'>Live preview, playback + full camera control.</p>
    <p class='anotherappssecondparag'>Use your mobile device to preview and play back
    shots, control your GoPro and share on the fly.</p>
    <hr>
    <ul class='appfeatures'>
      <li><span style='color: #009fdf'>NEW</span> Open your best moments in Quik to easily create awesome videos.</li>
      <li>Frame your shots and control your GoPro remotely.</li>
      <li>Share photos and videos to Instagram, Facebook, Twitter and more.</li>
    </ul>
    <hr>
    <div class='someplusclass'>
      <div class='plusiconinapps'></div>
      <p class='sosickofnaingclasses'>Access your photos and videos in the cloud.</p>
    </div>
    <div class='linkythings'>
      <div class='buttonimage'></div>
      <div class='buttonimage2'></div>
    </div>
    <p class='disclaimer'>Compatibility varies by device and operating system. <span style='color:#009fdf'>Learn more</span></p>
  </div>
</div>

<div class='appssecondsection seconddef'>
  <div class='firstappsright aabbcc'>
    <div class='appssectionicon'></div>
    <p class='appssectiontitle'> 
Quik</p>
    <p class='appssectionparag'>Awesome edits made easy.</p>
    <p class='anotherappssecondparag'>Create beautiful videos with just a few taps. Editing
has never been this fast—or this fun.</p>
    <hr>
    <ul class='appfeatures'>
      <li>Automatically finds great moments, or you can choose your own.</li>
      <li>Adds transitions and effects then syncs everything to the beat of the music.</li>
      <li>Lets you customize your story with text, filters, music and more.</li>
    </ul>
    <hr>
    <div class='someplusclass'>
      <div class='plusiconinapps'></div>
      <p class='sosickofnaingclasses'>Access your photos and videos in the cloud.</p>
    </div>
    <div class='linkythings'>
      <div class='buttonimage'></div>
      <div class='buttonimage2'></div>
    </div>
    <p class='disclaimer'>Compatibility varies by device and operating system. <span style='color:#009fdf'>Learn more</span></p>
  </div>
  <div class='firstappsleft'>
    <div class='picturecontainerapps secondabc'>
      <div class='pictureapps1'></div>
    </div>
  </div>
</div>

<div class='appssecondsection'>
  <div class='firstappsright aabbcc'>
    <div class='appssectionicon'></div>
    <p class='appssectiontitle'>Quik | Desktop</p>
    <p class='appssectionparag'>Access. Edit. Enjoy.</p>
    <p class='anotherappssecondparag'>Import and enjoy your GoPro footage and create
beautiful videos with just a few clicks.</p>
    <hr>
    <ul class='appfeatures'>
      <li>Easily transform your footage into awesome videos synced to music.</li>
      <li>Automatically import your photos and videos and share your best shots.</li>
      <li>Add gauges and graphs that show how fast, far and high you went.</li>
    </ul>
    <hr>
    <div class='someplusclass'>
      <div class='plusiconinapps'></div>
      <p class='sosickofnaingclasses'>Auto upload to the cloud and unlock a large library of soundtracks.</p>
    </div>
    <div class='linkythings'>
      <div class='buttonimage'></div>
      <div class='buttonimage2'></div>
    </div>
    <p class='disclaimer'>Compatibility varies by device and operating system. <span style='color:#009fdf'>Learn more</span></p>
  </div>
  <div class='firstappsleft'>
    <div class='picturecontainerapps thirdabc'>
      <div class='pictureapps1'></div>
    </div>
  </div>
</div>
      

  </div>
</div>