<view class='homeview'>
  <div class="container">
    <div class='topimages'>
      <div class='image'>
        <div class='newtitlehome'>
          <div class='introducing'>INTRODUCING</div>
          <div class='newtitlehero5'>HERO5</div>
        </div>
        <video style='height:30vw;'class="home-page-video-image vsc-initialized" loop="" preload="auto" poster="https://assets-aem.gopro.com/content/dam/homepage/cybermonday/hero5_background.png" autoplay="" data-vscid="dmc8g2o1s">
          <source data-src="https://assets-aem.gopro.com/content/dam/homepage/ys/GoProCom_Loop.mp4" src="https://assets-aem.gopro.com/content/dam/homepage/ys/GoProCom_Loop.mp4" type="video/mp4">
        </video>
      </div>
      <div class="gopro-img"></div>
    </div>
    <h1 class='title'>Meet the HERO5 Family.</h1>
    <p class='parag'>So simple. So powerful. So GoPro.</p>
      <div><button ui-sref='shop'>Shop Now</button></div>
  </div>
    
  <div class="lowercontainer">
    <div class='dronesection'>
      <div class=karmalogo></div>
      <div class='drone'></div>
      <div class='dron'></div>
      <h1 id ='dronetitle' class='title'>More than a drone.</h1>
      <p id ='droneparag' class='parag'>Capture amazingly smooth footage in the air, handheld and body mounted.</p>
        <div class='shopbutton'><button ui-sref='shop'>Shop Now</button></div>
    </div>  
    <div class='lowcontain'>
      <div class='lowicon'></div>
    <div class='plussection'>
      <div class ='leftdiv'>
        <h1 class='titleplus'>Access and share from anywhere.</h1>
        <p class='plusparag'>A GoPro Plus subscription makes it easy to access, edit and share your GoPro footage – anytime, anywhere.</p>
        <div class='plusbutton'><button>Learn More</button></div>
      </div>
      <div class='pluspic'></div>
    </div>
    </div>
    <div class='video-container' style='background-image: url(https://assets-aem.gopro.com/content/dam/homepage/ys/KarmaIsHereThumb.jpg); height: 650px;'>
      <div>

      </div>
    </div>     
  </div>
</div>
</view>
