<div class='plusbody' ng-controller='shopCtrl'>
    <div ng-controller='shopCtrl'>
      <div class='plushead'>
        <p>Jacobs Shopping Cart</p>
        <div class='myrightbuttons'>
          <button ui-sref='shop'class='littlediff'>CONTINUE SHOPPING</button>
          <button ui-sref='thankspage' ng-click="addOrder()" class='mygreenbutton'>CHECKOUT</button>
        </div>
      </div>
    </div>
    <div class='pusherdowner'></div>
    <div class='pluscolumns'>
      <p class='firstcolumnplus headd'>PRODUCT</p>
      <p class='secondcolumnplus headd'>QUANTITY</p>
      <p class='thirdcolumnplus headd'>PRICE</p>
      <p class='fourthcolumnplus headd'>TOTAL PRICE</p>
    </div>
    <div class='aline'></div>
    <div class='pluscolumns' ng-repeat='product in rootCart'>
      <div class='firstcolumnplus mainnn'>
        <div class='pluspicimage'><img ng-src="{{product.image_url}}" alt=""></div>
        <div class='pluspicdesc'>{{product.name}}</div>
      </div>
      <div class='secondcolumnplus mainnn'>
        <div class='smallcontainer'>
          <input class='smallinput'type="number" ng-model='product.quantity'>
          <a ui-sref=''ng-click='removeItem(product.id)'>REMOVE</a>
        </div>
        
      </div>
      <div class='thirdcolumnplus mainnn'>${{product.price}}</div>
      <div class='fourthcolumnplus mainnn'>${{product.total}}</div>
    </div>
    <div class='endcheckout'>
      <div class='endcheckoutsection lefter'>
        <p class='mocha'>Subtotal</p>
        <p class='mocha'>Shipping 2-day</p>
        <p class='mocha andmocha'>Free 2-Day Shipping + Free Returns</p>
        <div class='aline diffwidth'></div>
        <p class='mocha notmocha'>Estimated Total</p>
      </div>
      <div class='endcheckoutsection righter'>
        <p class='mocha'>${{estimatedtotal}}</p>
        <p class='mocha'>FREE</p>
        <p class='mocha'></p>
        <div class='aline adiffwidth'></div>
        <p class='mocha notmocha'>${{estimatedtotal}}</p>
      </div>
    </div>
    </div>
</div>
