<div class='pusherrr'></div>
<view class='shophomeview'>
  <!--<div class="shopcontainer">-->
    <div class='shoptopimages'>
      <div class='shopimage'></div>
      <h1 class='shoptitle'>Go Travel</h1>
    <p class='shopparag'>Your travel adventure awaits. Get a bonus accessory when you buy any GoPro camera.</p>
    </div>
</view>
<div class='lowersectionofshop'>
  <div class='firstcontainershop'>
    <div class='toppictureshop'>
      <div class='shoplogohero5'></div>
      <div class='shophero5camera'></div>
        <div class='underpicture'></div>
          <h1 class='Simplythebest'>Simply the best GoPro, ever.</h1>
          <p class='buyahero5'>Buy a HERO5 Black and get a bonus 3-Way with purchase.</p>
          <p class='hero5blackcost'>$399.99</p>
          <div class='shophero5blackbuttonscontainer'>
            <button ng-click='addToCart(1)'>ADD TO CART</button>
            <button id='diffbutton'>LEARN MORE</button>
          </div>
        </div>
    </div>
  <div class='secondcontainershop'>
    <div class='secondsectionleft'>
      <div class='secondsectionleftpic'>
        <div class='hero5sessionlogo'></div>
        <div class='hero5sessionpic'></div>
      </div>
      <div class='underpic'>
        <h1 class='thebestonlysmaller'>The best,only smaller.</h1>
        <p class='buyahero5session'>Buy a HERO5 Session and get a bonus 3-way with purchase.</p>
        <p class='hero5sessioncost'>$299.99</p>
        <div class='shophero5blackbuttonscontainer'>
          <button ng-click='addToCart(2)'>ADD TO CART</button>
          <button id='diffbutton'>LEARN MORE</button>
        </div>
      </div>
    </div>
    <div class='secondsectionright'>
      <div class='secondsectionrightpic'>
        <div class='herosessionlogo'></div>
        <div class='herosessionpic'></div>
      <div class='underpic2'>
        <h1 class='thebestonlysmaller2'>GoPro, simplified</h1>
        <p class='buyahero5session2'>Buy a HERO Session and get a bonus Head Strap + QuickClip with purchase.</p>
        <p class='hero5sessioncost2'>$199.99</p>
        <div class='shophero5blackbuttonscontainer'>
          <button ng-click='addToCart(3)'>ADD TO CART</button>
          <button id='diffbutton'>LEARN MORE</button>
        </div>
      </div>
      </div>
    </div>
    </div>

  </div>
    <div class='midpagepic'>
      <h1 class='Findtheright'>Find the right GoPro for you.</h1>
    </div>
    <div class='cheatsection'></div>
    <div class='cheatsection2'></div>
    <div class='lastbuttonshop'>
      <button>LEARN MORE</button>
      <button>LEARN MORE</button>
      <button>LEARN MORE</button>
    </div>
    
  </div>
</div>
