<view class='homeview'></view>
  <div class="container">
    <div class='topimages'>
      <div class='image'></div>
      <div class="gopro-img"></div>
    </div>
    <h1 class='title'>Go Travel</h1>
    <p class='parag'>If not now, when? Buy a GoPro camera and get a bonus accessory you can take on all your spring travel adventures.</p>
      <div><button>Shop Now</button></div>
  </div>
    
  <div class="lowercontainer">
    <div class='dronesection'>
      <div class=karmalogo></div>
      <div class='drone'></div>
      <div class='dron'></div>
      <h1 id ='dronetitle' class='title'>More than a drone.</h1>
      <p id ='droneparag' class='parag'>Capture amazingly smooth footage in the air, handheld and body mounted.</p>
        <div class='shopbutton'><button>Shop Now</button></div>
    </div>  
    <div class='lowcontain'>
      <div class='lowicon'></div>
    <div class='plussection'>
      <div class ='leftdiv'>
        <h1 class='titleplus'>Access and share from anywhere.</h1>
        <p class='plusparag'>A GoPro Plus subscription makes it easy to access, edit and share your GoPro footage – anytime, anywhere.</p>
        <div class='plusbutton'><button>Learn More</button></div>
      </div>
      <div class='pluspic'></div>
    </div>
    </div>
    <div class='video-container' style='background-image: url(https://assets-aem.gopro.com/content/dam/homepage/ys/KarmaIsHereThumb.jpg); height: 650px;'>
      <div>

      </div>
    </div>     
  </div>
</div>
</view>